*.aux
*.log
*.out
/slides.pdf
/handout.pdf
*.nav
*.snm
*.toc
*.synctex.gz
*.key
/*.mp4
/poster.pptx
/.venv/
/png/
/DAMOP 2023 - Goerz - Optimal Control of a Sagnac Tractor Atom Interferometer.*
/images/adiabatic_dynamics_50πps.pdf
/images/adiabatic_dynamics_50πps_1.pdf
/images/adiabatic_dynamics_50πps_2.pdf
/images/animate_rottai.mp4
/images/animate_rottai/
/images/animate_rottai_1.mp4
/images/animate_rottai_2.mp4
/images/animate_rottai_3.mp4
/images/cn_sim_results.pdf
/images/cn_sim_results_1.pdf
/images/cn_sim_results_2.pdf
/images/fidelity_map.pdf
/images/fidelity_map_1.pdf
/images/fidelity_map_2.pdf
/images/guess_dynamics.pdf
/images/guess_dynamics_1.pdf
/images/guess_dynamics_2.pdf
/images/guess_dynamics_3.pdf
/images/guess_dynamics_4.pdf
/images/guess_dynamics_5.pdf
/images/guess_dynamics_6.pdf
/images/guess_sagnac.pdf
/images/guess_sagnac_1.pdf
/images/guess_sagnac_2.pdf
/images/opt_dynamics.pdf
/images/opt_dynamics_1.pdf
/images/opt_dynamics_2.pdf
/images/opt_dynamics_3.pdf
/images/opt_dynamics_4.pdf
/images/opt_dynamics_5.pdf
/images/opt_dynamics_6.pdf
/images/opt_sagnac.pdf
/images/opt_sagnac_1.pdf
/images/opt_sagnac_2.pdf
/images/rottai.pdf
